.main-logo {
  display: block;
  overflow: hidden;
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

html, body { 
  height: 100%; 
  width: 100%; 
  font-family: Helvetica, sans-serif;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #ffffff;  /*Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
  /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
  background-size: 200%;
}

h1 {
  font-family: Helvetica, serif;
  font-size: 1.5em;
  padding-top: 3%;
  padding-bottom: 7%;
}

aside {
  font-family: Helvetica,serif;
  text-align: center;
  font-size: 2.5vh;
  padding-top: 3%;
  padding-bottom: 7%;
}

p {
  padding-top: 10%;
  text-align: center;
}

.footer {
  padding-top: 30%;
  text-align: center;
  font-weight: lighter;
  size: .5em;
}


/*a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}*/


/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #14191F;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 200px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: #14191F;
  color: white;
  font-size: 2em;
  font-weight: lighter;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}



/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 50px; top: 15%;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 200px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

/* Micro reset */
*,*:before,*:after{ 
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.cookie-bar {
  font-size: 1em;
  text-align: center;
}

/* ------------------ gallery 2-------------- */

.masonry { /* Masonry container */
  -webkit-column-count: 3;
  -moz-column-count:3;
  column-count: 3;
  -webkit-column-gap: 1px;*/
  -moz-column-gap: 1px;
  column-gap: 1px;*/
  margin: 0;
  padding: 0;
  -moz-column-gap: .1em;
  -webkit-column-gap: .1em;
  column-gap: .01px;
  /*font-size: .1px;*/
}

.img {
  padding-top: 1%
  padding-bottom: 1%;
}

@media only screen and (max-width: 520px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 521px) and (max-width: 1368px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 1369px) and (max-width: 3500px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
/*@media only screen and (min-width: 1501px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}*/

.lb {
  display: none;
  position: fixed!important;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  text-align:center;
}

.lb img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 10%;
}

.lb:target {
  outline: none;
  display: block;
}

a.lb:hover {cursor:default;}
img:hover {cursor:pointer;}


 
